<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ServerSendEvent Servlet</title>
</head>
<body>

    hello webmvc

    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript">
        if (!!window.EventSource) {

            // var source = new EventSource('sse');
            var source = new EventSource('push');

            source.addEventListener('message', function (e) {
                console.log('message:', e);
            });

            source.addEventListener('open', function (e) {
                console.log('open:', e);
            }, false);

            source.addEventListener('error', function (e) {
                console.log('error:', e);
                if (e.readyState == EventSource.CLOSED) {
                    console.log("连接关闭");
                }
            }, false);

        } else {
            console.log("没有sse");
        }
    </script>

</body>
</html>